footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 235, 222);
}
.footer_menu {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
}
.footer_nav_elem {
  padding: 15px;
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}
.footer_nav_elem:hover {
  color: darkgray;
  transition: all 0.5s;
}
.copyright {
  font-size: 14px;
  margin-bottom: 15px;
}
.footer_phone_mail {
  top: 0;
  margin-bottom: 30px;
}

@media (max-width: 410px) {
  .footer_menu {
    flex-direction: column;
  }
  .copyright {
    font-size: 10px;
  }
}
.call_button_fixed {
  height: 60px;
  width: 60px;
  background-color: #499100;
  transition: all 0.5s;
  position: fixed;
  bottom: 15px;
  right: 10px;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.bottom_icon {
  color: white;
}
.call_button_fixed:hover {
  background-color: #769e4e;
  transition: all 0.5s;
}
