.services {
  width: 100%;
}
.services_container {
  margin: 0 auto;
}
.services_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.cards_cont {
}

@media (max-width: 1095px) {
  .services_content {
    grid-template-columns: 1fr;
  }
}

.services_card_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.services_card_title {
  font-weight: 600;
}
.card-text {
  flex: 1;
}
.services_button {
  margin-top: 10px;
}
.card {
}
.img-fluid {
  height: 100%;
  border-bottom-left-radius: var(--bs-border-radius) !important;
  border-top-left-radius: var(--bs-border-radius) !important;
  border-top-right-radius: var(--bs-border-radius) !important;
  border-bottom-right-radius: var(--bs-border-radius) !important;
  transition: all 1s;
}
.img-fluid:hover {
  transform: scale(1.05);
  transition: all 1s;
}
.row {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-md-4 {
  flex: auto;
  width: 33.33333333%;
  overflow: hidden;
}
.col-md-8 {
  flex: auto;
  width: 66%;
}
@media (max-width: 480px) {
  .row {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .col-md-4 {
    flex: auto;
    width: 100%;
  }
  .col-md-8 {
    flex: auto;
    width: 100%;
  }
  .img-fluid {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
  }
}
